@font-face { font-family: "Open-Sans-Serif"; src: url("../Fonts/open-sans/OpenSans-Light.ttf"); font-weight: 300; }

@font-face { font-family: "Open-Sans-Serif"; src: url("../Fonts/open-sans/OpenSans-LightItalic.ttf"); font-weight: 300; font-style: italic; }

@font-face { font-family: "Open-Sans-Serif"; src: url("../Fonts/open-sans/OpenSans-Italic.ttf"); font-weight: 300; font-style: italic; }

@font-face { font-family: "Open-Sans-Serif"; src: url("../Fonts/open-sans/OpenSans-Regular.ttf"); font-weight: 400; }

@font-face { font-family: "Open-Sans-Serif"; src: url("../Fonts/open-sans/OpenSans-Semibold.ttf"); font-weight: 600; }

@font-face { font-family: "Open-Sans-Serif"; src: url("../Fonts/open-sans/OpenSans-SemiboldItalic.ttf"); font-weight: 600; font-style: italic; }

@font-face { font-family: "Open-Sans-Serif"; src: url("../Fonts/open-sans/OpenSans-Bold.ttf"); font-weight: 700; }

@font-face { font-family: "Open-Sans-Serif"; src: url("../Fonts/open-sans/OpenSans-BoldItalic.ttf"); font-weight: 700; font-style: italic; }

@font-face { font-family: "Open-Sans-Serif"; src: url("../Fonts/open-sans/OpenSans-ExtraBold.ttf"); font-weight: 800; }

@font-face { font-family: "Open-Sans-Serif"; src: url("../Fonts/open-sans/OpenSans-ExtraBoldItalic.ttf"); font-weight: 800; font-style: italic; }
