// ____________________________________________________ LIGHT 
// light
@font-face {
    font-family: "Open-Sans-Serif";
    src: url("../Fonts/open-sans/OpenSans-Light.ttf");
    font-weight: 300;
}
// light Italic
@font-face {
    font-family: "Open-Sans-Serif";
    src: url("../Fonts/open-sans/OpenSans-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}
// ____________________________________________________ ITALIC 
//  Italic
@font-face {
    font-family: "Open-Sans-Serif";
    src: url("../Fonts/open-sans/OpenSans-Italic.ttf");
    font-weight: 300;
    font-style: italic;
}
// ____________________________________________________ REGULAR 
//  Regular
@font-face {
    font-family: "Open-Sans-Serif";
    src: url("../Fonts/open-sans/OpenSans-Regular.ttf");
    font-weight: 400;
}
// ____________________________________________________ SEMI BOLD 
//  Semi-Bold
@font-face {
    font-family: "Open-Sans-Serif";
    src: url("../Fonts/open-sans/OpenSans-Semibold.ttf");
    font-weight: 600;
}
//  Semi-Bold Italic
@font-face {
    font-family: "Open-Sans-Serif";
    src: url("../Fonts/open-sans/OpenSans-SemiboldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}
// ____________________________________________________  BOLD 
//  Bold
@font-face {
    font-family: "Open-Sans-Serif";
    src: url("../Fonts/open-sans/OpenSans-Bold.ttf");
    font-weight: 700;
}
//  Bold Italic
@font-face {
    font-family: "Open-Sans-Serif";
    src: url("../Fonts/open-sans/OpenSans-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}
// ____________________________________________________ EXTRA BOLD 
//  Extra Bold
@font-face {
    font-family: "Open-Sans-Serif";
    src: url("../Fonts/open-sans/OpenSans-ExtraBold.ttf");
    font-weight: 800;
}
//  Extra Bold Italic
@font-face {
    font-family: "Open-Sans-Serif";
    src: url("../Fonts/open-sans/OpenSans-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}