@import "responsive", "circle", "utilities", 'fonts', 'progress_bar_and_animation', 'font-awesome_icons_custom';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open-Sans-Serif", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    position: relative;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

a {
    color: #fafafa;
}

/*-------------------------- Header and top page -----------------------------*/

header {
    background-image: url("../Images/header_bg.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 0% 100%;
    padding-bottom: 20px;


    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7vh;
        position: fixed;
        width: 100%;
        background-color: #44a5a2;
        background-image: linear-gradient(#000000, #20a19d,#3a63b0,#349eac,#8d8f77);
        background-size: 500vw 500vh;
        background-position: 0% 0%;
        z-index: 100;
        animation: moveNavBackground 90s ease-in alternate infinite;
        padding: 0 1em;

        .surounder {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 85%;
            height: 100%;
        }
    }


    a {
        text-decoration: none;
        font-weight: 300;
    }

    nav div {
        &.portfolio_contain {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
            padding: 0 1em;

            a {
                transition: all .25s linear;
            }

            a:hover {
                background-color: white;
                color: black;
                padding: .1em .25em;
            }
        }

        &.nav_list_container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            list-style-type: none;
            text-decoration: none;
            padding: 0 2em;
            height: 100%;

            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;


                li {
                    list-style: none;
                    transition: all 0.15s linear;

                    // Scale up the links (the li not the a)
                    &:hover {
                        transform: scale(1.1);
                    }

                    // Set the width of the ::after pseudo element of the a (the little line under the <a>, not visible by default because of width at 0%) to 100% to see it
                    &:hover a::after{
                        width: 100%;
                    }

                    a {
                        font-size: 1em;
                        text-transform: capitalize;
                        margin: 0 2em;
                        font-weight: 400;
                        position: relative;
                        
                        // ::after pseudo-element (little line) style
                        &::after {
                            transition: all .25s linear;
                            position: absolute;
                            content: "";
                            background: #4ab9b2;
                            height: 1%;
                            width: 0%;
                            right: 0%;
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }

    h1 {
        text-align: center;
        padding-top: 330px;
        text-transform: capitalize;
        color: #fff;
        font-weight: 300;
        font-size: 5em;
        letter-spacing: 1.5px;
        animation: big 1.5s linear;
    }

    h2 {
        text-transform: uppercase;
        text-align: center;
        padding-top: 35px;
        letter-spacing: 1px;
        font-size: 2em;
        font-weight: 300;
    }
}

/*----------------------------- Body (corps de page) & général---------------------- */

.titre {
    font-size: 3em;
    text-align: center;
    margin: auto;
    position: relative;
    text-transform: capitalize;
    color: white;
    font-weight: 500;
    margin-bottom: 10vh;
    padding: .5em 1em;


    &::after {
        content: "―❖―";
        position: absolute;
        height: auto;
        left: 50%;
        display: block;
        transform: translateX(-50%);
    }
}

.line {
    border-bottom: 1.5px solid white;
}

/*----------------------------- Section à propos de moi--------------------------  */

.contenu h3 {
    font-size: 1.4em;
    font-style: italic;
    text-transform: capitalize;
    text-align: center;
}

#elkhattabi {
    display: flex;
    flex-direction: column;
    flex: 1.5;
}

.photo {
    background-image: url('../Images/Zakarya.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 50vh;
    position: relative;
    box-shadow: 1px 0px 25px -5px rgba(119, 136, 153, 0.5);
}

#coordonnees {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: black;
    background-color: white;
    padding: 2vh 0;
    align-items: center;

    span:not(p) {
        font-weight: bold;
        letter-spacing: 2px;
    }

    hr {
        width: 90%;
        margin: 1px auto 2%;
        border: none;
        height: 1px;
        background: #2dad89;
    }
}

#dwld {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    padding: 1em 0;
}

a {
    &#message {
        min-width: 25%;
        color: black;
        padding: 1em 2em;
        border: 2px solid black;
        text-transform: uppercase;
        text-decoration: none;
        transition: all .25s linear;


        &:hover {
            background-color: black;
            color: rgb(252, 252, 252);
        }
    }

    &#download {
        color: rgb(77, 172, 175);
        text-decoration: none;
        background-color: black;
        padding: 1em 2em;
        text-transform: uppercase;
        transition: .25s;

        &:hover {
            background-color: #22a6aa;
            color: rgb(0, 0, 0);
        }
    }
}

section#infos {
    background: #000000;
    width: auto;
    height: auto;
    padding: 2% 0;


    h3 {
        text-transform: capitalize;
        font-size: 1.8em;
        text-align: center;
        color: black;
        font-style: normal;
        text-decoration: underline;
        font-weight: 500;
        margin: 0;
    }
}

#infos div#coordonnees p {
    color: black;
    font-weight: normal;
    padding-bottom: 37.5px;
    font-size: 1.15em;
}

.contenu {
    display: flex;
}

#entetediv1 {
    color: #fff;
}

.section_intro {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    flex: 4;

    .presentation {
        padding: .5em 2.5em;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            padding: .25vh !important;
        }
    }

    p {
        padding: 1.5vh 0;
        word-spacing: 1px;
        color: black;
        text-align: center;
        font-weight: 500;

        a {
            color: #4ab9b2;
            font-size: 1em;

            &:first-of-type {
                text-decoration: none;
            }
        }
    }

    span {
        font-size: large;
        font-weight: bold;
        background-color: rgb(124, 216, 201);
    }
}

/* ----------------------------------------Section parcours----------------------------  */

section#experiences {
    width: auto;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.75), gray), url("/Images/newton.jpg");
    background-size: 100vw;
    background-position: center 0%;
    background-attachment: fixed;
    padding: 5vh 0;
}

#entetediv2 {
    color: #000000;
}

#confusius {
    font-size: 1.25em;
    font-style: italic;
    font-weight: 600;
}

#proverbe {
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 110px;
    margin-top: 70px;
    font-weight: 300;
    color: #ffffff;
}

/*---------------T-I-M-E-L-I-N-E----------------*/

div#timeline {
    margin: 20px auto;
    position: relative;
    width: 80%;

    &:first-child:not(span.badge_icon_contain) {
        margin-top: -181px;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 0;
        margin: auto;
        width: 0.1vw;
        height: 100%;
        background: black;
        transform: translateX(-50%)
    }

    // Article
    article {
        position: relative;
        background-color: red;
        border: 1px solid white;
        height: 50vh;
        overflow-y: auto;

        &:not(:last-of-type) {
            margin-bottom: 33vh;
        }

        &:hover .around .img-contain img {
            filter: grayscale(0%);
        }

        &:hover .around .img-contain {
            box-shadow: 1px 1px 10px 1px rgba(196, 196, 196, 0.5);
        }



        &:after {
            content: '';
            display: block;
            clear: both;
        }

        div.inner {
            padding: .5em;
            display: flex;
            justify-content: space-between;


            span.badge_icon_contain {
                width: .1vw;
                height: 3vh;
                position: absolute;
                top: 50%;
                left: 50%;
                color: white;
                background: whitesmoke;
                transform: translateX(-50%) translateY(-50%);

            }

            .title_container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                width: 47.5%;
                padding: 0.5em;

                :is(h1, h2) {
                    word-spacing: 5px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }

                h1 {
                    font-size: 1em;
                    font-weight: 400;
                }

                h2 {
                    font-size: .9em;
                    font-weight: 300;
                    word-spacing: 3px;
                }
            }

            .around {
                width: 47.5%;

                .paragraph-container {
                    padding: .5em 0;

                    p {
                        text-align: center;
                    }
                }
            }

            div.div-bg-title-date {
                margin: 0;
                font-size: 20px;
                letter-spacing: 1px;
                position: relative;
                text-transform: uppercase;
                font-size: 20px;
                color: #2d2020;
                font-weight: 500px;

                &:after {
                    content: '';
                    position: absolute;
                    background: linear-gradient(to bottom right, black 48%, #ff000000 50%);
                    width: 20px;
                    height: 20px;
                    left: 0;
                    transform: translateX(-50%) rotate(-45deg);
                }
            }
        }

        &:nth-of-type(even) .inner {
            flex-direction: row-reverse;

            >.around>.div-bg-title-date::after {
                right: 0 !important;
                left: unset;
                transform: translateX(50%) rotate(135deg);
                background: linear-gradient(to bottom right, black 48%, rgba(255, 0, 0, 0) 50%);
            }

            .title_container {
                align-items: flex-start;
            }

        }

        &:nth-child(2n+2) div.inner {
            float: right;
        }

        div.inner div.div-bg-title-date {
            text-align: center;
            color: black;
            font-weight: bold;
            height: 30vh;
            margin-bottom: 7.5vh;
        }
    }

    .img-contain {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        align-items: center;
        box-shadow: 1px 3px 15px 5px rgba(0, 0, 0, 0.75);
        transition: all .25s linear;

        img {
            height: 100%;
            width: 100%;
            filter: grayscale(100%);
            transition: filter .75s ease-out, outline-offset .25s .25s linear;

            &:hover {
                outline: 1px solid white;
                outline-offset: -5px;
            }
        }

    }

    .div-date {
        position: absolute;
        z-index: 1;
        bottom: 0;
        transform: translateY(50%);
        padding: .15em;

        h1 {
            color: white;
            text-transform: capitalize;
            font-size: 2.5em;
            font-weight: 400;
            letter-spacing: -2.5px;
        }
    }


}


/* --------------------Section Compétences ------------------------ */

section#knowledge {
    width: auto;
    background-color: #1A1E23;
    padding: 2% 0;
}

// div container that contain all the progress bars and her labels 
#knowledge-items {
    display: flex;
    flex-wrap: wrap;
    margin: 10vh auto;
    padding: 1em 0;

    &>p {
        width: 100%;
        text-align: center;
        margin-bottom: 10vh;
        font-style: italic;
        text-decoration: underline 1px whitesmoke;
        position: relative;
        display: block;


        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 1vw;
        }


        &:nth-of-type(1)::after {
            content: url("../Images/front-end.png");
        }

        &:nth-of-type(2)::after {
            content: url("../Images/back-end.png");
        }

        &:nth-of-type(3)::after {
            content: url("../Images/framework.png");
        }
    }

    &>p:not(:first-of-type) {
        margin-top: 5vh;
    }

}

// individual progress bar
.knowledge-item {
    margin-bottom: 3.5vh;
    display: flex;
    padding: .25em;
    align-items: center;
    flex-basis: 50%;
    flex-grow: 1;
    justify-content: center;

    &:nth-last-of-type(-n+2) {
        margin-bottom: 0;
    }

    .label {
        padding: 0 .25em;
        flex-basis: 7.5vw;
    }
}


// all items  
.skill-items {
    display: flex;
    flex-direction: row;
    margin-top: 7.5vh;
    justify-content: space-evenly;
    text-align: center;
    width: 80%;
    margin: 5vh auto;
    flex-wrap: wrap;

    // individual item
    .skill-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        width: 100%;
        margin-bottom: 7.5vh;
    }

    p:not(span) {
        font-weight: 700;
        text-align: center;
    }
}

.c100 {
    margin: 0 0 0.1em 0;
}

#section_hobbies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #3ecac1;
    align-items: stretch;
    color: black;
    position: relative;

    h3 {
        text-align: center;
        margin-bottom: 15px;
        margin-top: -16px;
        font-style: initial;
    }

    ul li {
        text-align: center;
        list-style-type: none;
        margin: 30px auto;

        >i {
            color: whitesmoke;
        }
    }

    p {
        text-align: center;
        color: black;
    }

    #hobby {
        font-size: 1.2em;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    #separation {
        width: 1px;
        background-color: white;
        height: 75%;
        position: absolute;
        top: 50%;
        border: none;
        transform: translateY(-50%);
    }
}


/* ---------------- Progress bar langues-------------- */

#langues {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1.2em;
    position: relative;
}

.w3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5vh 0 2.5vh;
    height: 100%;
    justify-content: space-evenly;
}

#section_hobbies .w3-container>p {
    color: whitesmoke;

    &:first-of-type {
        padding-top: 0;
    }
}

.w3-light-grey {
    background-color: #000000;
    border-radius: 5px;
    height: 2.75vh;
    width: 70%;
    // border: 2px solid rgba(0, 0, 0, .85);
    flex-direction: column;
    overflow: hidden;
    box-shadow: 4px 2px 5px rgba(19, 19, 19, 0.75);
}

.w3-light-grey :is(.english, .spain, .arabic) {
    box-shadow: 1px 0px 15px 2.5px #18ada6;
    height: 100%;
    background-color: white;
    border-right: 1px solid black;
}

.english {
    width: 55%;
}

.spain {
    width: 28%;
}

.arabic {
    width: 65%;
}

/* ------------------------------------------------------ */

#hobby .fas {
    margin-right: 10px;
    font-size: 15px;
}

/*----------------------- Div à fond vert contact----------------------*/

.contact-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(45deg, rgba(34, 209, 197, 0.5), rgba(34, 209, 197, 0.75)), url('../Images/contact_me_cta_section.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    position: relative;
    height: 33vh;

    h1 {
        color: white;
        font-weight: 300;
    }

    a {
        text-transform: uppercase;
        border: 1px solid white;
        border-radius: 5px;
        background-color: transparent;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.1em;
        padding: .75em;
        margin: 2vh auto;
        width: 20%;

        &:hover {
            color: #4ab9b2;
            background-color: white;
            transition: 0.8s;
        }
    }

}

/* ------------------Footer ------------------------ */

footer {
    &#contact {
        background-image: url("../Images/contact_section_bg.jpg");
        background-size: cover;
    }

    &:not(#entetediv4) {
        width: auto;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
    }
}

#entetediv4 {
    text-align: center;
    color: #cfdada;
}

.form_and_map_container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.form_container {
    display: flex;
    justify-content: center;
    flex-grow: 1.25;
    padding: 2.5vh 0;

    form {
        width: 80%;
    }
}


input {
    border-radius: 2px;

    &:focus {
        outline: none;
    }
}

footer input {

    &[type="text"],
    &[type="email"] {
        margin-bottom: 1vh;
        padding: 1vh .5vw;
    }
}

.names_container_fifty_width {
    display: flex;
    justify-content: space-between;

    input {
        width: 49%;
        border: none;
    }
}

input {

    &#courriel,
    &#subject {
        border: none;
    }
}

textarea {
    margin-bottom: 20px;
    border-radius: 3px;
    resize: none;
    padding-left: 8px;
    padding-top: 25px;
}

#txt {
    min-height: 25vh;
    padding-top: .5vh;
    padding-left: 3px;
}

input[type="submit"]#send {
    border-radius: 2.5px;
    background-color: #40c4b2;
    color: white;
    font-size: 1.2em;
    border: none;
    letter-spacing: 0.5px;
    padding: .5vh 0.5vw;
    transition: background-color 0.4s, letter-spacing 1s;

    &:hover {
        background-color: #00a8a0;
        color: #f8f6f2;
        letter-spacing: 5px;
    }
}

footer .barrelaterale {
    height: 1px;
    border: none;
    background-color: rgba(255, 255, 255, .1);
}

#hr1 {
    width: 100%;
    margin-bottom: 5vh;
}


footer #cprt {
    text-align: center;
    color: whitesmoke;
    font-weight: 400;
    margin: 3vh auto;
}


footer>div>h3 {
    font-size: 2em;
    color: whitesmoke;
    text-align: center;
    margin: 2.5vh auto;
    font-weight: 500;
}


.map_container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-self: stretch;
    padding: 1.5em;

    & iframe {
        width: 100%;
        opacity: .75;
        transition: all .5s linear;
    }

    &:hover iframe {
        opacity: 1;
    }
}


.form_layout_adjust {
    display: flex;
    flex-direction: column;
}

// Socials container 

.socials_container {
    background-color: rgb(0, 0, 0);
    position: fixed;
    min-width: 1.5vw;
    min-height: 33vh;
    top: 50%;
    padding: .25vh .25vw;
    transform: translateY(-50%) translateX(-11%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all .25s linear;

    &:hover{
        background-color:white;
    }

    &:hover :is(.linkedin_container i, .github_container i, .sololearn_container i, .phone_container i, .mail_container i){
        color: rgb(255, 255, 255);
    }

    &:hover :is(.linkedin_container,.github_container,.sololearn_container,.phone_container,.mail_container){
        background-color:rgb(0, 0, 0);
    }


    a {
        text-decoration: none;
        font-weight: 300;
    }

    & :is(.linkedin_container, .github_container, .sololearn_container, .phone_container,.mail_container) {
        border-radius: 50%;
        background-color:#44a5a2;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 1.75em;
        height: 1.75em;

        i {
            font-size: .9em;
            color: white;
            border-radius: 50%;
        }
    }

    .arrow_container {
        font-size: .55em;
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: rgb(0, 0, 0);
        right: 0;
        transform: translateX(100%) translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        transition: all .25s ease-in;
        cursor: pointer;

        &:hover {
            color: #00a8a0;
        }
    }


}

/*---------------------------------------Button top------------------------------------ */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 4vw;
    height: 2.25vh;
    z-index: 99;
    outline: none;
    color: rgb(243, 242, 242);
    background-color: #074e3f;
    cursor: auto;
    font-weight: thin;
    border: none;
    justify-content: center;
    align-items: center;
    transition: background-color .5s, color 0.5s .2s, transform .5s, border .1s, font-size .5s, outline-offset .25s;
    transition-timing-function: ease-out;
    outline: 1px solid transparent;

    i {
        font-size: 1.2em;
    }

    &:hover {

        transform: scale(.975);
        outline: 1px solid white;
        outline-offset: -3px;
        background-color: rgb(21, 214, 172);
        color: rgb(0, 0, 0);
    }
}